# ⬇️⬇️⬇️⬇️
# Do NOT commit your lab implementation when contributing! Please be careful!
# ⬆️⬆️⬆️⬆️

# Lab 5
cpu.py

# Lab 6
ucsbcs154_lab6_skeleton.py
ucsbcs154_lab6_forward.py

# Lab 7
ucsbcs154_lab7_2bitpred.py
ucsbcs154_lab7_predtable.py

# ---
__pycache__
.DS_Store
